.header {
  height: 10%;
}

.main {
  height: 80%;
}

.leftcol {
  height: 100%;
}

.blocks {
  overflow-y: auto;
  height: 80vh;
}

.App {
  margin: 0 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-header {
  padding: .2rem;
}

.card-body {
  padding: .2rem .2rem .2rem 1rem;
}

.card-header {
  background-color: rgb(146 146 146 / 62%);
}

